.header{

	background-color: #FCDFC2;
	text-align: center;
	font-style: italic;
	font-size: 22px;
	color: #040A63;
}



[defileur]{
	/*height : 300px;	
	width  : 200px;
	position : relative;
 	overflow: hidden;*/

	/*margin-top: 150px;
	margin-left: 500px;
 	padding-left: 50px;
 	padding-right: 15px;*/

	border-style: dashed;
	border-width: 1px;
	/*z-index: 1000;*/
	border-radius: 5px;


 	font-style: italic;
 	font-weight: bold;
 }


.panneau{
	width				: 100%;
	height				: 100%;
	position			: absolute;	
}

.leftPanel{
	background-color	: #DEDCFC;

	left				: -100%;

}

.rightPanel{
	background-color	: #FFE8DD;	
	/*background-color	: #456*/;
	left 				: 100%;
}

.centerPanel{
	background-color	: #EFFCF4;
	left				: 0%;
}

.leftArrow{
	position 	: 	absolute;
	left 		: 	2%;
	top			:	85%;
	z-index		: 	1000;
	width		:	10%;
	height		: 	10%;
}
.rightArrow{
	position 	:	absolute;
	left 		:	88%;
	top			:	85%;
	z-index		:	1000;
	width		:	10%;
	height		:	10%;
}
.rightArrow:hover, .leftArrow:hover{
	cursor: pointer;
}

.spacer{
	height : 8%;
	background-color: #456;
}

.date{
	margin-left: 	3%;
	background-color: white;
	width: 25%	;
	height: 8%;
}